/*--- FORMATO MOBILE ---*/

/*CUERPO (BODY) de la pagina*/
#cuerpo{
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: "Nunito", sans-serif;
}


/*ENCABEZADO*/
nav{
    background-color: white;
    border-bottom: 5px solid black;
    width: 100%;
    top: 0;
    position: fixed;
    z-index: 1000;
}

#contenedorImagenLogo{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
}
#contenedorImagenLogo img{
    height: 25vw;
    padding-top: 3vw;
    padding-bottom: 3vw;
}

.login-button {
    background-color: #2cbdf2;
    color: #000000;
    font-size: 14px;
    padding: 8px 20px;
    border-radius: 50px;
    text-decoration: none;
    transition: 0.3s;
    
}
    
.login-button:hover {
    box-shadow: 0 0 8px rgb(72, 190, 216);
}
    
#botonAbrirMenu{
    border: none;
    font-size: 1.25rem;
}

#botonAbrirMenu:focus, #botonCerrarMenu:focus{
    box-shadow: none;
    outline: none;
}

.nav-link{
    position: relative;
}


/*MAIN*/
main{
    display: grid;
    grid-template-rows: auto;
}




/* INICIO DE FORMULARIO */

.RegistarFrm {
    display: flex;
    justify-content: center;
    align-items: center;
}

form{
    height: 40rem;
    width: 38vw;
    border-radius: 8px;
    padding: 4vw 40px;
    box-shadow: 0 10px 25px rgba(92, 99, 105, .5);
    margin-top: 160px;
    margin-bottom: 160px;
    border: solid;
}

.title {
    font-size: 35px;
    text-align: center;
    margin-bottom: 30px;
}

.inputContainer {
    position: relative;
    height: 45px;
    width: 100%;
    margin-bottom: 17px;
}

.input {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    border: 1px solid #DADCE0;
    border-radius: 7px;
    font-size: 16px;
    padding: 0 20px;
    outline: none;
    background: none;
    z-index: 1;
}
  
::placeholder {
    color: transparent;
}

.label {
    position: absolute;
    top: 10px;
    left: 15px;
    padding: 0 4px;
    background-color: white;
    color: #aeafb1;
    font-size: 16px;
    transition: 0.5s;
    z-index: 0;
}

.contenedorBotones{
    text-align: center;
}

.submitBtn  {
    text-align: center;
    padding: 10px 100px;
    border: none;
    background-color: #2cbdf2;
    color: rgb(0, 0, 0);
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 25px;
    margin-bottom: 5px;
}


.submitBtn:hover {
    background-color: #2cbdf2;
    transform: translateY(-2px);
    text-align: center;
}

.registrar{
    text-align: center;
}
.input:focus + .label {
    top: -7px;
    left: 3px;
    z-index: 10;
    font-size: 14px;
    font-weight: 600;
    color: #2cbdf2;
}

.input:focus {
    border: 2px solid #2cbdf2;
}

.input:not(:placeholder-shown)+ .label {
    top: -7px;
    left: 3px;
    z-index: 10;
    font-size: 14px;
    font-weight: 600;
}

/* FIN DE FORMULARIO */

.submitBtnCerrar {
    display: block;
    margin-left: auto;
    padding: 15px 30px;
    border: none;
    background-color: rgb(0, 0, 0);
    color: white;
    cursor: pointer;
    font-size: 16px;
    margin-top: 30px;
    display: none;
}

.submitBtnCerrar:hover {
    background-color: rgb(124, 124, 124);
    transform: translateY(-2px);
}

#saludoAdmi{
    display: none;
}

#saludoAdmi h1{
    display: flex;
    justify-content: center;
    align-items: center;
}








#separador{
    background-color: white;
    border-bottom: solid black;
    height: 10vw;
}


/*PIE DE PÁGINA*/
footer{
    background-color: rgb(255, 255, 255);
}
.contenedorDatosRedes{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.datosYredes{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 12vw;
    justify-items: center;
    align-items: center;
    width: 50vw;
    padding: 4vw;
    margin-top: 15vw;
    margin-bottom: 15vw;
}

.datos h1{
    font-weight: bold;
    font-size: 4.6vw;
    padding-bottom: 3vw;
}
.datos h2{
    font-size: 3.6vw;
    margin: 0;
}

.redes h1{
    font-weight: bold;
    font-size: 4.6vw;
    padding-bottom: 3vw;
}
.redes .iconos{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    gap: 3.3vw;
}
.iconos i{
    font-size: 5.6vw;
    color: black;
}
.iconos a{
    border-radius: 50%;
    transition: transform 0.25s;
}
.iconos a:hover{
    transform: scale(1.2);
}

footer p{
    background-color: rgb(89, 89, 89);
    text-align: center;
    color: white;
    font-size: 3vw;
    padding: 5vw;
    margin: 0;
}



/*--- FORMATO TABLET ---*/
@media screen and (min-width: 768px){
    /*ENCABEZADO*/
    #contenedorImagenLogo img{
        height: 20vw;
        padding-top: 3vw;
        padding-bottom: 3vw;
    }


    /*MAIN*/
    #presentacion{
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 30vw;
        padding-bottom: 60vw;
        height: 15vw;
    }
    

    /*PIE DE PÁGINA*/
    footer{
        background-color: rgb(255, 255, 255);
    }
    .contenedorDatosRedes{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .datosYredes{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        gap: 20vw;
        justify-items: center;
        align-items: center;
        width: 80vw;
        padding: 4vw;
        margin-top: 15vw;
        margin-bottom: 15vw;
    }
    .datos h1{
        font-weight: bold;
        font-size: 3vw;
        padding-bottom: 3vw;
    }
    .datos h2{
        font-size: 2vw;
        margin: 0;
    }
    .redes h1{
        font-weight: bold;
        font-size: 3vw;
        padding-bottom: 3vw;
    }
    .redes .iconos{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;
        gap: 0.8vw;
    }
    .iconos i{
        font-size: 4vw;
        color: black;
    }
    .iconos a{
        border-radius: 50%;
        transition: transform 0.25s;
    }
    .iconos a:hover{
        transform: scale(1.2);
    }
    footer p{
        background-color: rgb(89, 89, 89);
        text-align: center;
        color: white;
        font-size: 1.5vw;
        padding: 3vw;
        margin: 0;
    }
}

/*--- FORMATO LAPTOP ---*/
@media screen and (min-width: 1024PX){
    /*ENCABEZADO*/
    #contenedorImagenLogo img{
        height: 10vw;
        padding-top: 1.5vw;
        padding-bottom: 1.5vw;
    }

    .nav-link::before{
        content:"";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 2px;
        visibility: hidden;
        transition: 0.3s ease-in-out;
        border-bottom: 0.4VW solid #ffd900;
    }

    .nav-link:hover::before, .nav-link.active::before{
        width: 100%;
        visibility: visible;
    }


    /*MAIN*/
    #presentacion{
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 8vw;
        padding-bottom: 30vw;
        height: 15vw;
    }
    #saludo h1{
        color: black;
        text-align: center;
        font-size: 8vw;
        margin-bottom: 3vw;
    }
    #saludo p{
        color: black;
        font-size: 2vw;
        text-align: center;
    }

    /* CARRUSEL */
    .carousel-inner{
        height: 35vw;
    }
    .carousel-item{
        height: 35vw;
    }


    /*PIE DE PÁGINA*/
    footer{
        background-color: rgb(255, 255, 255);
    }
    .contenedorDatosRedes{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 20vw;
        border-top: solid;
    }
    .datosYredes{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        gap: 20vw;
        justify-items: center;
        align-items: center;
        width: 80vw;
        padding: 4vw;
        margin-top: 15vw;
        margin-bottom: 15vw;
    }
    .datos h1{
        font-weight: bold;
        font-size: 1.5vw;
        padding-bottom: 3vw;
    }
    .datos h2{
        font-size: 1vw;
        margin: 0;
    }
    .redes h1{
        font-weight: bold;
        font-size: 1.5vw;
        padding-bottom: 3vw;
    }
    .redes .iconos{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;
        gap: 0.9vw;
    }
    .iconos i{
        font-size: 2vw;
        color: black;
    }
    .iconos a{
        border-radius: 50%;
        transition: transform 0.25s;
    }
    .iconos a:hover{
        transform: scale(1.2);
    }
    footer p{
        background-color: rgb(89, 89, 89);
        text-align: center;
        color: white;
        font-size: 0.8vw;
        padding: 1.5vw;
        margin: 0;
    }
}