.container {
    width: 80%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container h1{
    margin-top: 15vw;
    font-weight: bold;
}

.container h3{
    margin-top: 2vw;
    color: #333;
}

.templates {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr;
    gap: 14vw;
    margin-top: 10vw;
}

#botonLoEncontre{
    background-color: white;
    width: 50vw;
    height: 10vw;
    margin-bottom: 5vw;
    border-radius: 10px;
    padding: 1vw;
}

#botonLoEncontre p{
    color: black;
}

/* Formas de imágenes para las diferentes plantillas */
.formaCorazon {
    clip-path: polygon(0 25%, 26% 14%, 50% 29%, 74% 16%, 100% 26%, 100% 56%, 75% 78%, 49% 100%, 21% 75%, 0 56%);
    width: 80vw;
    height: 80vw;
}

.formaEstrella {
    clip-path: polygon(50% 0%, 66% 27%, 98% 35%, 81% 61%, 79% 91%, 50% 80%, 21% 91%, 20% 59%, 2% 35%, 33% 27%);
    width: 80vw;
    height: 80vw;
}

.formaRedonda {
    clip-path: circle(46.6% at 50% 50%);
    width: 80vw;
    height: 80vw;
}

/*
.template {
    background-color: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.248);
    padding: 7vw;
    width: 80vw;
    text-align: center;
    transition: transform 0.3s ease;
    cursor: pointer;
}


.template:hover {
    transform: scale(1.1);
}
*/

.template-header {
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
    margin-bottom: 15px;
    margin-top: 8vw;
}

.template-body {
    margin-top: 10px;
}

.template-img {
    width: 100%;
    border-radius: 10px;
}

.edit-section {
    margin-top: 30px;
    text-align: left;
}

#edit-form {
    margin-top: 20px;
}

#edit-form label {
    display: block;
    margin: 10px 0 5px;
}

#edit-form input, #edit-form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #2cbdf2;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

button:hover {
    background-color: #d01a99;
}

#fileInput {
    display: none;
}

/* Estiliza el botón personalizado */


/* Estilo para la vista previa de la imagen */
#imagePreview {
    margin-top: 20px;
    max-width: 100%; /* Hace que la imagen sea responsiva */
    display: none; /* Inicialmente oculta */
}

.template1 {
    background-color: rgb(245, 118, 213);
  margin:10vw;
    padding: 10px;
    border-radius: 10px;
}

.template2 {
    background-color: gold;
    margin:10vw;
    padding: 10px;
    border-radius: 10px;

}

.template3 {
    background-color: darkorchid;
    margin:10vw;
    padding: 10px;
    border-radius: 10px;
    
  
  
}
.template3 img{
    width: 80vw;
}
/*
.template {
    margin: 10px 0;
    border: 1px solid #ccc;
    padding: 10px;
    position: relative;
}

.template img {
    max-width: 100%;
    height: auto;
}
*/

.edit-section {
    display: none; /* Oculta el formulario por defecto */
}

#customButton {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

#customButton:hover {
    background-color: #0056b3;
}

#imagePreview {
    margin-top: 20px;
    max-width: 100%; /* Hace que la imagen sea responsiva */
    display: none; /* Inicialmente oculta */
}

/* Estilos específicos para las plantillas */