/*--- FORMATO MOBILE ---*/

/*CUERPO (BODY) de la pagina*/
#cuerpo{
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: "Nunito", sans-serif;
}


/*ENCABEZADO*/
nav{
    background-color: white;
    box-shadow: 0 0 18px rgb(202, 33, 33);
    width: 100%;
    height: 18vw;
    top: 0;
    position: fixed;
    z-index: 1000;
    transition: 0.3s;
}
nav:hover{
    background-color: rgb(255, 140, 140);
    transition: 0.3s;
}

#navNombre{
    font-size: 4vw;
    font-weight: bold;
    color: rgb(190, 8, 8);
}

.login-button {
    background-color: rgb(190, 8, 8);
    color: rgb(255, 255, 255);
    font-size: 4vw;
    padding: 8px 20px;
    border-radius: 50px;
    text-decoration: none;
    transition: 0.3s;
}


#botonAbrirMenu{
    border: none;
    font-size: 1.25rem;
}

#botonAbrirMenu:focus, #botonCerrarMenu:focus{
    box-shadow: none;
    outline: none;
}

.nav-link{
    position: relative;
}
.nav-item{
    color: white;
}

.submitBtnCerrar {
    background-color: #000000;
    color: #ffffff;
    font-size: 14px;
    padding: 8px 20px;
    border-radius: 50px;
    text-decoration: none;
    transition: 0.3s;
}

.submitBtnCerrar:hover {
    box-shadow: 0 0 8px rgb(98, 98, 98);
}

#botonCerrarSesion{
    display: none;
}





/*MAIN*/
main{
    display: grid;
    grid-template-rows: auto;
}
.formProductoNuevo{
    justify-content: space-between; 
    align-items: center;
    margin: 20px auto;
    max-width: 400px; 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}


.submitBtn:hover {
    background-color: rgb(72, 190, 216);
    transform: translateY(-2px);

}

.input:focus + .label {
    top: -7px;
    left: 3px;
    z-index: 10;
    font-size: 14px;
    font-weight: 600;
    color: #000000;
}

.input:focus {
    border: 2px solid #000000;
}

.input:not(:placeholder-shown)+ .label {
    top: -7px;
    left: 3px;
    z-index: 10;
    font-size: 14px;
    font-weight: 600;
}

/* FIN DE FORMULARIO */

.submitBtnCerrar {
    background-color: #000000;
    color: #ffffff;
    font-size: 14px;
    padding: 8px 20px;
    border-radius: 50px;
    text-decoration: none;
    transition: 0.3s;
}

.submitBtnCerrar:hover {
    box-shadow: 0 0 8px rgb(98, 98, 98);
}

#botonCerrarSesion{
    display: none;
}



.container-titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#productos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
}

button {
    background-color: #2cbdf2;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

button:hover {
    background-color: #1aa3d0;
}

#fileInput {
    display: none;
}

/* Estiliza el botón personalizado */


/* Estilo para la vista previa de la imagen */
#imagePreview {
    margin-top: 20px;
    max-width: 100%; /* Hace que la imagen sea responsiva */
    display: none; /* Inicialmente oculta */
}

.carousel-item {
    /* Define un mínimo de altura para el carrusel */
    min-height: 100vw; 
}
.carousel-indicators{
    top: 16vw;
}

.producto {
    min-width: 100%;
    box-sizing: border-box;
    padding: 20px;
    text-align: center;
}

.producto img {
    max-width: 100%;
    height: auto;
}

.btn {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

.btn:hover {
    background-color: #45a049;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}


/*PIE DE PÁGINA*/
footer{
    background-color: rgb(255, 255, 255);
    border-top: solid black;
}
.contenedorDatosRedes{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.datosYredes{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 12vw;
    justify-items: center;
    align-items: center;
    width: 50vw;
    padding: 4vw;
    margin-top: 15vw;
    margin-bottom: 15vw;
}

.datos h1{
    font-weight: bold;
    font-size: 4.6vw;
    padding-bottom: 3vw;
}
.datos h2{
    font-size: 3.6vw;
    margin: 0;
}

.redes h1{
    font-weight: bold;
    font-size: 4.6vw;
    padding-bottom: 3vw;
}
.redes .iconos{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    gap: 3.3vw;
}
.iconos i{
    font-size: 5.6vw;
    color: black;
}
.iconos a{
    border-radius: 50%;
    transition: transform 0.25s;
}
.iconos a:hover{
    transform: scale(1.2);
}

footer p{
    background-color: rgb(89, 89, 89);
    text-align: center;
    color: white;
    font-size: 3vw;
    padding: 5vw;
    margin: 0;
}



/*--- FORMATO TABLET ---*/
@media screen and (min-width: 768px){
    /*ENCABEZADO*/
    #contenedorImagenLogo img{
        height: 20vw;
        padding-top: 3vw;
        padding-bottom: 3vw;
    }


    /*MAIN*/
    #presentacion{
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 30vw;
        padding-bottom: 60vw;
        height: 15vw;
    }
    

    /*PIE DE PÁGINA*/
    footer{
        background-color: rgb(255, 255, 255);
    }
    .contenedorDatosRedes{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .datosYredes{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        gap: 20vw;
        justify-items: center;
        align-items: center;
        width: 80vw;
        padding: 4vw;
        margin-top: 15vw;
        margin-bottom: 15vw;
    }
    .datos h1{
        font-weight: bold;
        font-size: 3vw;
        padding-bottom: 3vw;
    }
    .datos h2{
        font-size: 2vw;
        margin: 0;
    }
    .redes h1{
        font-weight: bold;
        font-size: 3vw;
        padding-bottom: 3vw;
    }
    .redes .iconos{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;
        gap: 0.8vw;
    }
    .iconos i{
        font-size: 4vw;
        color: black;
    }
    .iconos a{
        border-radius: 50%;
        transition: transform 0.25s;
    }
    .iconos a:hover{
        transform: scale(1.2);
    }
    footer p{
        background-color: rgb(89, 89, 89);
        text-align: center;
        color: white;
        font-size: 1.5vw;
        padding: 3vw;
        margin: 0;
    }
}

/*--- FORMATO LAPTOP ---*/
@media screen and (min-width: 1024PX){
    /*ENCABEZADO*/
    #contenedorImagenLogo img{
        height: 10vw;
        padding-top: 1.5vw;
        padding-bottom: 1.5vw;
    }

    .nav-link::before{
        content:"";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 2px;
        visibility: hidden;
        transition: 0.3s ease-in-out;
        border-bottom: 0.4VW solid #ffd900;
    }

    .nav-link:hover::before, .nav-link.active::before{
        width: 100%;
        visibility: visible;
    }


    /*MAIN*/
    #presentacion{
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 8vw;
        padding-bottom: 30vw;
        height: 15vw;
    }
    #saludo h1{
        color: black;
        text-align: center;
        font-size: 8vw;
        margin-bottom: 3vw;
    }
    #saludo p{
        color: black;
        font-size: 2vw;
        text-align: center;
    }

    /* CARRUSEL */
    .carousel-inner{
        height: 35vw;
    }
    .carousel-item{
        height: 35vw;
    }


    /*PIE DE PÁGINA*/
    footer{
        background-color: rgb(255, 255, 255);
    }
    .contenedorDatosRedes{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 20vw;
        border-top: solid;
    }
    .datosYredes{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        gap: 20vw;
        justify-items: center;
        align-items: center;
        width: 80vw;
        padding: 4vw;
        margin-top: 15vw;
        margin-bottom: 15vw;
    }
    .datos h1{
        font-weight: bold;
        font-size: 1.5vw;
        padding-bottom: 3vw;
    }
    .datos h2{
        font-size: 1vw;
        margin: 0;
    }
    .redes h1{
        font-weight: bold;
        font-size: 1.5vw;
        padding-bottom: 3vw;
    }
    .redes .iconos{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;
        gap: 0.9vw;
    }
    .iconos i{
        font-size: 2vw;
        color: black;
    }
    .iconos a{
        border-radius: 50%;
        transition: transform 0.25s;
    }
    .iconos a:hover{
        transform: scale(1.2);
    }
    footer p{
        background-color: rgb(89, 89, 89);
        text-align: center;
        color: white;
        font-size: 0.8vw;
        padding: 1.5vw;
        margin: 0;
    }
}

